<a href="https://colab.research.google.com/github/clearf29/Titanic-Practice/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Titanic Naive Bayes Classification

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#Loading Dataset
df = pd.read_csv("tested.csv")
df
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# New Section

In [5]:
#REMOVING UNWANTED COLUMS
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In the below section, we define the dependent and the independent varibales. Since we're predicting the number of the Survived, it is the dependent Variable, Y, and use the others as the predictor variables X.

In [6]:
X = df.drop(["Survived"],axis="columns")
y = df.Survived

We proceed to get the dummy variables from the Sex column.

In [7]:
dummies = pd.get_dummies(X.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

We proceed to add the dummy variables column on our Predictor Variables dataframe

In [8]:
X = pd.concat([X,dummies],axis="columns")
X

     Pclass     Sex   Age      Fare  female  male
0         3    male  34.5    7.8292       0     1
1         3  female  47.0    7.0000       1     0
2         2    male  62.0    9.6875       0     1
3         3    male  27.0    8.6625       0     1
4         3  female  22.0   12.2875       1     0
..      ...     ...   ...       ...     ...   ...
413       3    male   NaN    8.0500       0     1
414       1  female  39.0  108.9000       1     0
415       3    male  38.5    7.2500       0     1
416       3    male   NaN    8.0500       0     1
417       3    male   NaN   22.3583       0     1

[418 rows x 6 columns]

Dropping the Sex column from the dataset since the dummy variables have taken care of it.

In [9]:
X.drop(["Sex"],axis="columns",inplace=True)
X.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

in this section, we sort out the null values in the dataframe

In [10]:
X.isna().sum()

Pclass     0
Age       86
Fare       1
female     0
male       0
dtype: int64

We then replace the null values with the mean average in the dataframe.

In [11]:
X.Age = X.Age.fillna(X.Age.mean())
X.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

We procced to verify if the null values are gone.

In [12]:
X.isna().sum()

Pclass    0
Age       0
Fare      1
female    0
male      0
dtype: int64

Fill up the null value in the Fares column

In [13]:
X.Fare = X.Fare.fillna(X.Fare.mean())
X.head()

   Pclass   Age     Fare  female  male
0       3  34.5   7.8292       0     1
1       3  47.0   7.0000       1     0
2       2  62.0   9.6875       0     1
3       3  27.0   8.6625       0     1
4       3  22.0  12.2875       1     0

Finish up the verification of the missing values

In [14]:
X.isna().sum()

Pclass    0
Age       0
Fare      0
female    0
male      0
dtype: int64

We train the test split

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

We create a Naive Bayes Model

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

We fit the model with the data

In [18]:
model.fit(X_train,y_train)

GaussianNB()

Results from the model

In [19]:
model.score(X_test,y_test)

1.0

  Predicting the data of the first 10 elements

In [20]:
model.predict(X_test[:10])

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0])