<a href="https://colab.research.google.com/github/clearf29/Titanic-Practice/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Titanic Naive Bayes Classification

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#Loading Dataset
df = pd.read_csv("tested.csv")
df
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# New Section

In [6]:
#REMOVING UNWANTED COLUMS
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

In the below section, we define the dependent and the independent varibales. Since we're predicting the number of the Survived, it is the dependent Variable, Y, and use the others as the predictor variables X.

In [7]:
X = df.drop(["Survived"],axis="columns")
y = df.Survived

We proceed to get the dummy variables from the Sex column.

In [8]:
dummies = pd.get_dummies(X.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

We proceed to add the dummy variables column on our Predictor Variables dataframe

In [18]:
X = pd.concat([X,dummies],axis="columns")
X

     Pclass   Age      Fare  female  male  female  male
0         3  34.5    7.8292       0     1       0     1
1         3  47.0    7.0000       1     0       1     0
2         2  62.0    9.6875       0     1       0     1
3         3  27.0    8.6625       0     1       0     1
4         3  22.0   12.2875       1     0       1     0
..      ...   ...       ...     ...   ...     ...   ...
413       3   NaN    8.0500       0     1       0     1
414       1  39.0  108.9000       1     0       1     0
415       3  38.5    7.2500       0     1       0     1
416       3   NaN    8.0500       0     1       0     1
417       3   NaN   22.3583       0     1       0     1

[418 rows x 7 columns]

Dropping the Sex column from the dataset since the dummy variables have taken care of it.

In [19]:
X.drop(["Sex"],axis="columns",inplace=True)
X.head()

KeyError: ignored